#aquarium {
    padding: 0;
    margin: 0;
    background-color: #0000FF;
}

.fish {
    display: inline;
    list-style-type: none;
    position: absolute;
    width: 16px;
    height: 20px;
}

.left {
    background-image: url(fish_l.gif);
}

.right {
    background-image: url(fish_r.gif);
}
